.Home{
    display: block;
    background-image: linear-gradient(to bottom right, #e6f2ff, #003366);
    /*height: 100%;*/
    /*width: 100%;*/
    padding: 15.7% 20%;

}

p{
    font-size: x-large;
}